/* ==UserStyle==
@name           Dark Go Documentation - Alternative
@namespace      gitlab.com/Lukas_C/usercss-collection
@version        1.0.0
@description    A dark userstyle for Go Package Documentation
@author         Lukas_C
@homepageURL    https://gitlab.com/Lukas_C/usercss-collection
@updateURL      https://gitlab.com/Lukas_C/usercss-collection/-/raw/master/alt-pkg.go.dev.user.css
@license        CC0-1.0 OR MIT
@preprocessor   default
==/UserStyle== */

@-moz-document domain("pkg.go.dev") {
    body {
        color: #ccc;
        background-color: #111;
    }
    div {
        color: #ccc;
        background-color: #111;
    }
    ul, li {
        color: #ccc;
    }
    .UnitDetails :target:not(details, h2) {
        background-color: #333;
    }

    /* Code Blocks */
    .Documentation pre {
        background-color: #222;
    }
    .Documentation-declarationLink {
        color: #ccc;
        background-color: #222;
    }

    /* Title Search */
    .Header-searchForm {
        color: #ccc;
        background-color: #222;
    }

    /* Title */
    .UnitHeader-banners, .UnitHeader-breadcrumbs, .UnitHeader-content {
        color: #111;
        background-color: #111;
    }

    /* Fadeout for Readme */
    .UnitReadme-fadeOut {
        background-image: linear-gradient(to bottom, transparent, #111)
    }

    /* NavTree Search */
    .UnitOutline-jumpTo button {
        color: #ccc;
        background-color: #222;
    }
    .UnitOutline-jumpTo::after {
        background-color: #333;
    }

    /* NavTree */
    .UnitOutline [role="treeitem"][aria-level="1"][aria-expanded="true"] {
        color: #ccc;
        background-color: #333;
    }
    .UnitOutline a {
        color: #ccc;
    }
    .UnitOutline [role="treeitem"][aria-selected="true"] {
        color: #ccc;
        background-color: #333;
    }

    /* Hide BLM Banner */
    .Banner {
        display: none;
    }

}
