/* ==UserStyle==
@name           GNU-Dark
@namespace      gitlab.com/Lukas_C/usercss-collection
@version        1.0.0
@description    A dark userstyle for GNU.org, primarily developed for the emacs manual
@author         Lukas_C
@homepageURL    https://gitlab.com/Lukas_C/usercss-collection
@updateURL      https://gitlab.com/Lukas_C/usercss-collection/-/raw/master/gnu.org.user.css
@license        CC0-1.0 OR MIT
@preprocessor   default
==/UserStyle== */
@-moz-document domain("gnu.org") {
    html {
        background-color: #111;
    }

    body {
        color: #ccc;
        background-color: #111;
    }

    h1, h2, h3, h4 {
        color: #ccc;
    }

    .header, .header p {
        background-color: #333 !important;
    }

    a[href], a[href]:visited {
        color: #0aa;
    }

    div.example, pre.example {
        color: #ccc;
        background-color: #333;
    }

    code, dt {
        color: #fff;
    }

    var {
        color: #0aa;
    }
}
