/* ==UserStyle==
@name           Dark Go Documentation
@namespace      gitlab.com/Lukas_C/usercss-collection
@version        1.0.1
@description    A dark userstyle for Go Package Documentation
@author         Ma_124
@homepageURL    https://gitlab.com/Lukas_C/usercss-collection
@updateURL      https://gitlab.com/Lukas_C/usercss-collection/-/raw/master/pkg.go.dev.user.css
@license        CC0-1.0 OR MIT
@preprocessor   default
==/UserStyle== */

@-moz-document domain("pkg.go.dev") {
    :root {
        --gray-10: #202224;
        --gray-9: #3e4042;
        --gray-8: #555759;
        --gray-7: #6e7072;
        --gray-6: #848688;
        --gray-5: #aaacae;
        --gray-4: #c6c8ca;
        --gray-3: #dcdee0;
        --gray-2: #f0f1f2;
        --gray-1: #fafafa;

        --turq-light: #5dc9e2;
        --turq-med: #00add8;
        --turq-text: #007d9c;

        --blue: #92e1f3;
        --green: #00a29c;
        --pink: #ce3262;
        --purple: #542c7d;
        --slate: #253443;
        /* Footer background. */
        --white: var(--gray-10);
        --yellow: #fddd00;
    }

    body,
    .Banner,
    .Documentation-exampleCode,
    table *
    {
        background-color: var(--gray-10);
        color: var(--gray-1) !important;
    }

    select {
        background-color: var(--gray-10);
    }

    .Header *,
    .Footer *,
    .DetailsHeader-badge {
        color: white !important;
    }

    .Overview-readmeContent pre {
        background-color: var(--gray-10);
    }

    * :target:not(details, h2) {
        background-color: var(--turq-dark) !important;
    }

    * :target:not(details, h2) a {
        color: var(--blue) !important;
    }
}
