/* ==UserStyle==
@name           Haskell Tutorial Dark
@namespace      gitlab.com/Lukas_C/usercss-collection
@version        1.0.1
@description    A dark userstyle for the Tutorial on haskell.org/tutorial
@author         Lukas_C
@homepageURL    https://gitlab.com/Lukas_C/usercss-collection
@updateURL      https://gitlab.com/Lukas_C/usercss-collection/-/raw/master/tutorial-haskell.org.user.css
@license        CC0-1.0 OR MIT
@preprocessor   default
==/UserStyle== */

@-moz-document regexp(".*haskell.org/tutorial.*") {
    html, body {
        color: #ccc;
        background-color: #111;
    }
    
    p, i {
        color: #ccc;
        background-color: #111;
    }
    
    a[href], a[href]:visited {
        color: #0aa;
    }

    /* Code highlighting */
    tt {
        color: #088;
    }
}
